html,body,#root{
  margin:0;
  padding:0;
  height: 100%;
  text-align: center;
  font-style: italic;
  color: black;
  background-image: linear-gradient(45deg, rgb(153, 239, 214), white);
}

.Box{
  display: inline-block;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
}
table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid white;
  width: 80%;
}
table,tr,td{
  border: 1px solid white;
}