body{
    text-align: center;
}
table{
    margin-left:auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid black;
    width: 30%;
    margin-top: 50px;
}
table,tr,td {
    border: 1px solid black;
}
td{
    width: 100px;
    height: 50px;
}